hw2.include([
]).define(function (angular) {
    var $ = this;
    var angular = $.global.angular;
    var app = angular.module('engine');

  /* Edit with path of TC-JSON-API */
  app.api = "../TC-JSON-API/public/index.php/";

});
